@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body{
    width: 200px;
    height: 50px;
    background-color : black;
    display: flex;
    justify-content: center;

}
.clock {
 
  font-family: 'Arial';
  font-size: 4em;
  text-align : center;
  color : white;
}

.username{
  font-size : 5em;
}